<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>227668991707-sv0o916us9g9nvfhhoq50830f90126le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227668991707-sv0o916us9g9nvfhhoq50830f90126le</string>
	<key>API_KEY</key>
	<string>AIzaSyBWov_GmQYFP3VrOG9l89AZz9FLaPJCSp4</string>
	<key>GCM_SENDER_ID</key>
	<string>227668991707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travisholt.Scribe</string>
	<key>PROJECT_ID</key>
	<string>scribe-20096</string>
	<key>STORAGE_BUCKET</key>
	<string>scribe-20096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:227668991707:ios:8a555fd788a29e25</string>
	<key>DATABASE_URL</key>
	<string>https://scribe-20096.firebaseio.com</string>
</dict>
</plist>